<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TestRunner</servlet-name>
        <servlet-class>mum.cs472.TestRunner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quiz</servlet-name>
        <servlet-class>app.Quiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question</servlet-name>
        <servlet-class>app.Question</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizJSP</servlet-name>
        <servlet-class>web.QuizJSP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quizweb</servlet-name>
        <servlet-class>web.Quizweb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service</servlet-name>
        <servlet-class>service.Service</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestRunner</servlet-name>
        <url-pattern>/TestRunner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quiz</servlet-name>
        <url-pattern>/Quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question</servlet-name>
        <url-pattern>/Question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizJSP</servlet-name>
        <url-pattern>/QuizJSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quizweb</servlet-name>
        <url-pattern>/Quizweb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service</servlet-name>
        <url-pattern>/Service</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
